n8n-basics/modul-03-integrationen-switch.json
{
  "name": "n8n-basics-modul-03",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -128
      ],
      "id": "687082a6-806b-4cb1-a08a-9de3ec651240",
      "name": "Start workflow manually"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc707d42-0c19-42f6-9312-6c90f1cf6a72",
              "name": "sender",
              "value": "max@example.com",
              "type": "string"
            },
            {
              "id": "7c025920-27ae-46fc-96f7-258f640b7487",
              "name": "subject",
              "value": "Question about delivery time",
              "type": "string"
            },
            {
              "id": "61577f6c-2eb8-430b-a687-541c04a729be",
              "name": "text",
              "value": "Hello, I ordered yesterday and was wondering when delivery will arrive. Best regards, Max",
              "type": "string"
            },
            {
              "id": "3a706dd2-a5a2-4e71-b4eb-02c8997f73f9",
              "name": "received_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -128
      ],
      "id": "94557dab-fbd2-413a-a9d3-5c48d9cec74e",
      "name": "Receive email"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email subject: {{ $json.subject }}\nEmail body: {{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a classifier for incoming customer support emails. Classify the email into exactly one of three categories: - question: customer asks for information, status, or FAQ-style request - complaint: customer expresses dissatisfaction or reports a problem - other: anything that does not clearly fit the above  Return only the category."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        480,
        -128
      ],
      "id": "2eacb879-f2f4-4968-ae00-4e5b1572d36f",
      "name": "Classify with AI"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        400,
        96
      ],
      "id": "265e6ba2-4359-4dd4-bae2-70bc1381d6c4",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"category\": {\n      \"type\": \"string\",\n      \"enum\": [\"question\", \"complaint\", \"other\"]\n    }\n  },\n  \"required\": [\"category\"]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        96
      ],
      "id": "db106a1a-398e-4830-bb96-84f8b3bc7334",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        672,
        224
      ],
      "id": "37f121c2-1401-45e2-856d-7e2a3376455f",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5a3e3d73-98c6-41d7-bdcb-168dc06ccc70"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa7d1498-7876-4d04-bbd5-f682e4c2dbe3",
                    "leftValue": "={{ $json.output.category }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complaint"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        944,
        -144
      ],
      "id": "a4fd3dd5-a163-480a-a3f8-0d8bd5a7e266",
      "name": "Route by category"
    },
    {
      "parameters": {
        "fromEmail": "info@company.com",
        "toEmail": "={{ $('Receive email').item.json.sender }}",
        "subject": "Thank you for your question",
        "emailFormat": "text",
        "text": "Hello,\n\nthank you for your question. Perhaps our FAQ already helps:\nhttps://your-company.com/faq\n\nIf not, we will get back to you within one business day.\n\nBest regards",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1168,
        -320
      ],
      "id": "8bf7e42b-56f6-4139-8bb4-82d622511a7f",
      "name": "Send question reply",
      "webhookId": "7a9ded1c-63da-4590-b82d-0ed383595a5d",
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "info@company.com",
        "toEmail": "={{ $('Receive email').item.json.sender }}",
        "subject": "We have received your complaint",
        "emailFormat": "text",
        "text": "Hello,\n\nwe have received your complaint. We will call you back within\nfour hours.\n\nBest regards",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1168,
        -128
      ],
      "id": "909f39d6-88b0-4d25-829e-c18dc73eb85f",
      "name": "Send complaint reply",
      "webhookId": "8ccf7054-0a6f-4acf-8486-93fa1b7dadf4",
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "info@company.com",
        "toEmail": "={{ $('Receive email').item.json.sender }}",
        "subject": "Thank you for your message",
        "emailFormat": "text",
        "text": "Hello,\n\nthank you for your message. We will get back to you within one\nbusiness day.\n\nBest regards",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1168,
        64
      ],
      "id": "8bb40d53-5f7d-41ab-a0cd-950c3da46f5c",
      "name": "Send default reply",
      "webhookId": "146955b3-e485-4b65-a172-47959782abc0",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "510c805e-cb8c-472e-ae80-9e2f4e90e9fd",
              "name": "sender",
              "value": "={{ $('Receive email').item.json.sender }}",
              "type": "string"
            },
            {
              "id": "527d9d37-0a4a-457d-a12a-cbbdda342df7",
              "name": "subject",
              "value": "={{ $('Receive email').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "ecda86c3-d273-4bd4-85e0-c815393a3700",
              "name": "received_at",
              "value": "={{ $('Receive email').item.json.received_at }}",
              "type": "string"
            },
            {
              "id": "fcdef7ae-6dd5-4c05-a105-194aeb77649b",
              "name": "status",
              "value": "new",
              "type": "string"
            },
            {
              "id": "f46ec15c-7bd3-4bc9-8134-4eb30a5b4803",
              "name": "tag",
              "value": "={{ $('Classify with AI').item.json.output.category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -128
      ],
      "id": "8658ee73-66dd-4761-9865-cb2d70862c3e",
      "name": "Prepare table entry"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "jIkFCVAwbFXO1ukH",
          "mode": "list",
          "cachedResultName": "customer_emails",
          "cachedResultUrl": "/projects/nqMDdCdPUEFNTGoM/datatables/jIkFCVAwbFXO1ukH"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1616,
        -128
      ],
      "id": "af7091d2-0096-4cdf-ab72-bac2c6d9cf6b",
      "name": "Save table entry"
    }
  ],
  "connections": {
    "Start workflow manually": {
      "main": [
        [
          {
            "node": "Receive email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive email": {
      "main": [
        [
          {
            "node": "Classify with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify with AI": {
      "main": [
        [
          {
            "node": "Route by category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify with AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Classify with AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route by category": {
      "main": [
        [
          {
            "node": "Send question reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send complaint reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send default reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send question reply": {
      "main": [
        [
          {
            "node": "Prepare table entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send complaint reply": {
      "main": [
        [
          {
            "node": "Prepare table entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send default reply": {
      "main": [
        [
          {
            "node": "Prepare table entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare table entry": {
      "main": [
        [
          {
            "node": "Save table entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
